body {
	background: #fff;
	color: #3b3b3b;
	font-family: sans-serif;
	min-height: 100vh;
	margin: 0;
	display: flex;
	flex-direction: column;
}

nav {
	background: #bebebe;
	height: 72px;
	font-size: 24px;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	padding: 0, 16px;
}

a {
	color: #3b3b3b;
	text-decoration: none;
	padding: 10px;
}

.container {
	display: flex;
	flex-wrap: wrap;
}

.card {
	border: 1px solid #bbb;
	box-shadow: 2px 4px 16px rgba(0, 0, 0, 0.6);
	border-radius: 4px;
	width: 300px;
	margin: 16px;
	padding: 16px;
}
