body {
	background: #fff;
	color: #f9faf8;
	font-family:  "Segoe UI", Roboto, Oxygen, "Open Sans", "Helvetica Neue", sans-serif;
	min-height: 100vh;
	margin: 0;
	display: flex;
	flex-direction: column;
}

nav {
	background: #1f2937;
	height: 72px;
	font-size: 24px;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	padding: 0 24px;
}

a {
	text-decoration: underline;
}

.header-links {
	color: #e5e7eb;
	text-decoration: none;
	padding: 10px;
}

.hero {
	background: #1f2937;
	display: flex;
	flex: 1;
	align-items: flex-start;
	justify-content: center;
	gap: 4rem;
	padding: 8rem;
}

.hero-section {
	color: #f9faf8;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
	margin: 0;
	padding: 0;
}

.hero-title {
	flex-flow: row wrap;
	font-weight: 900;
	font-size: 48px;
}

.hero-text {
	font-size: 18px;
	max-width: 400px;
}

.hero-image {
	display: flex;
	flex-shrink: 0;
	min-width: 475px;
}

.information {
	color: #1f2937;
	display: flex;
	flex-flow: column wrap;
	align-items: center;
	justify-content: center;
	text-align: center;
}

.info-title {
	font-size: 36px;
	font-weight: 900;
	padding: 2rem;
}

.info-container {
	display: flex;
	flex: 1;
	flex-flow: column wrap;
	max-width: 60%;
	text-align: left;
	padding: 0 2rem 2rem;
}

.quote-text {
	font-style: italic;
}

.card-container {
	display: flex;
	flex: 1;
	flex-wrap: wrap;
	align-content: center;
	justify-content: center;
	padding: 0 2rem 2rem;
}

.card {
	background: #3882f6;
	color: #f9faf8;
	display: flex;
	align-items: center;
	justify-content: center;
	border: 1px solid #bbb;
	box-shadow: 2px 4px 16px rgba(0, 0, 0, 0.6);
	border-radius: 4px;
	width: 150px;
	height: 150px;
	margin: 16px;
	padding: 16px;
	/* text-align: left; */
	transition: transform 250ms ease-out;
}

.card-title {
	font-size: 24px;
	text-align: center;
}

.card:hover {
	transform: scale(1.07);
	background: #e5e7eb;
	color: #1f2937;
}

.card-clicked {
	position: absolute;
	transform: translateY(-500px);
	background: #e5e7eb;
	color: #1f2937;
	width: 75%;
	height: 40%;
	margin: auto;
	padding: 20px;
	border: 1px solid #888;
}
